nav {
  position: fixed;
  z-index: 1000;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  padding: 20px 50px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.profil {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.profil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profil span {
  font-size: 14px;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text);
}

.logo span {
  column-gap: 0.5rem;
}

.logo .bx {
  color: var(--dark-red);
  font-size: 2rem;
}
