section.contact {
  background: var(--light-gray);
}

.contact {
  padding: 100px 0;
}
.section-title {
  margin-bottom: 4rem;
}

.section-title span {
  font-size: 150px;
  top: -70px;
}

form {
  margin: auto;
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
  margin-bottom: 15px;
}

.input-box input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.contact-message {
  height: 100px;
}

.contact-btn {
  background: var(--dark-red);
  color: var(--bg);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 4s;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.popup.error {
  background-color: #f44336; /* Couleur rouge */
  color: white;
}

.popup.success {
  background-color: #4caf50; /* Couleur verte */
  color: white;
}

/* Flèche */
.popup::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 30px; /* Positionne la flèche au centre */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent transparent; /* Flèche blanche */
}

.popup.error::before {
  border-bottom-color: #f44336; /* Couleur rouge */
}

.popup.success::before {
  border-bottom-color: #4caf50; /* Couleur verte */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 530px) {
  form {
    width: 360px;
  }
}

@media screen and (max-width: 482px) {
  .section-title span {
    font-size: 60px;
    top: -21px;
  }
}
