section.contact {
  background: var(--light-gray);
}

.contact {
  padding: 100px 0;
}
.section-title {
  margin-bottom: 4rem;
}

.section-title span {
  font-size: 150px;
  top: -70px;
}

form {
  margin: auto;
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
  margin-bottom: 15px;
}

.input-box input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-message {
  height: 100px;
}

.contact-btn {
  background: var(--dark-red);
  color: var(--bg);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  form {
    width: 360px;
  }
}

@media screen and (max-width: 482px) {
  .section-title span {
    font-size: 60px;
    top: -21px;
  }
}
