@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --light-orange: rgb(233, 197, 126);
  --dark-orange: rgb(216, 87, 3);
  --light-red: rgb(233, 197, 197);
  --dark-red: rgb(126, 3, 3);
  --bg: #fff;
  --text: rgb(24, 24, 24);
  --light-gray: #f5f5f5;
  --dark-gray: #333;
}

body {
  color: var(--text);
  background: var(--bg);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--light-red);
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: var(--dark-red);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

section {
  // min-height: 100vh;
  padding: 120px 0 100px;
}
